
/* font-family: 'ZCOOL XiaoWei', serif;
   font-family: 'Poppins', sans-serif; */

   body {
    font-size: 1.125rem;
    font-family: 'ZCOOL XiaoWei', serif;
    font-weight: 300;
    margin: 0;
    line-height: 1.6;
}

img {
    width: 100%;
}

/* Layout */

header
 {
    background: #000;
    padding: 1em 0;
    text-align: center;
}

footer {
    background-color: #000;
    color: rgba(255, 255, 255, .65);
    text-align: center;
    padding: 3em 0;
 }

 footer p,
 footer i {
    color: rgba(255, 255, 255, .65); 
 }

 footer i {
     font-size: 2rem;
 }

 footer a i:focus,
 footer a i:hover {
    color: rgb(255, 255, 255)
 }

 

 p {
     font-size: 1.25rem;
     color: #2c5719;
 }

 a {
     color: #20ac5f;
 }

 a:hover,
 a:focus {
    color: #325542;
 }

.container {
    max-width: 950px; 
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-one {
    background-color: #e2e1e1;
    border-bottom: 1px solid #000;
}

.section-two {
    background-color: #a1a1a1;
    border-bottom: 1px solid #000;
}

.section-one,
.section-two {
    padding: 2em;

}

.logo {
    height: 100px;
    width: 100px;
}

.header-title {
    color: #5bd82a;
}

.section-title {
    color: #236902;
}

/* Navigation */

nav ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 1em;
    margin: .5em 0;
}

nav a {
    text-decoration: none;
    color: #b4b4b4;
    font-weight: 700;
    padding: .25em 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover,
nav a:focus {
    color: #5bd82a;
}

.current-page {
    border-bottom: 1px solid #b4b4b4;
}

.current-page:hover {
    color: #b4b4b4;
}

/* Media Queries */

 @media (min-width: 675px) {
    nav ul {
       flex-direction: row;
    }
    nav li {
       margin: .5em 0;
       margin-left: 1em;
    }
    .container {
        width: 90%;
        max-width: 950px; 
   }
   .section-one,
   .section-two,
   header {
       border: none;
       margin-bottom: 1em;
   }
   .section-one {
       display: flex;
       justify-content: space-between;
   }
   .flex-section-main {
       width: 45%;
   }
   .flex-section-secondary {
       width: 45%;
       margin: 3em;
   }
   

 } 
